h3 {
	font-size: 1.5rem;
}

#hero {
  background-color: var(--yellow);
  padding: 6rem 2.25rem;
}

#hero-description {
	color: var(--brown);
	max-width: 30rem;
	margin: 1.5rem 0;
}

#tanned-woman {
	margin-top: -63px;
  height: 21rem;
}

.btn {
	border-radius: 12px;
}	

.section-title {
	margin: 50px auto 15px;
}

.card {
	border: none;
	border-radius: 14px;
	margin: 20px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card-header:first-child {
	padding: 20px 0;
	border-radius: 14px 14px 0 0;
}

#procedures-cards .card-header {
	background: var(--yellow);
}

#combos-cards .card-header {
	background: var(--brown);
	color: #fff;
}

#combos-cards .card-text {
	font-size: 1.3rem;
}

#banner, #feedbacks {
	width: 100vw;
}

#banners {
	margin-top: 40px;
}

#feedbacks {
	background-image: url('../img/feedbacks-bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
}

#feedbacks h2 {
	color: #fff;
}

#feedbacks h6 {
	color: #fff;
	font-weight: 300;
}

#feedbacks .card-group {
	margin: 40px auto;
}

.feedback-card {
	max-width: 270px;
}

.client-photo {
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	position: relative;
	left: 0;
	margin: auto;
	top: -40px;
}

blockquote p {
	text-overflow: ellipsis;
}
