* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

:root {
  --yellow: #F49B19;
  --brown: #613431;
}

@font-face {
  font: 1.2rem/1.6 'Montserrat', sans-serif;
  font-weight: 400;
  font-display: swap;
}

h1, h2, h3 {
	font-weight: 600;
	color: var(--brown);
}

h1 { 
	font-size: 2.25rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

.navbar-brand {
	width: 4rem;
	height: 4rem;
}

#hero {
  background-color: var(--yellow);
  padding: 6rem 2.25rem;
}

#hero-description {
	color: var(--brown);
	max-width: 30rem;
	margin: 1.5rem 0;
}

#tanned-woman {
	margin-top: -63px;
  height: 21rem;
}

.btn {
	border-radius: 12px;
}	

.section-title {
	margin: 50px auto 15px;
}

.card {
	border: none;
	border-radius: 14px;
	margin: 20px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card-header:first-child {
	padding: 20px 0;
	border-radius: 14px 14px 0 0;
}

#procedures-cards .card-header {
	background: var(--yellow);
}

#combos-cards .card-header {
	background: var(--brown);
	color: #fff;
}

#combos-cards .card-text {
	font-size: 1.3rem;
}

#banner, #feedbacks {
	width: 100vw;
}

#banner {
	height: 35vh;
	margin-top: 40px;
}

@media screen and (orientation: landscape) and (max-height: 1920px) {
	#banner {
		height: 100%;
	}
}

#feedbacks {
	background-image: url('../img/feedbacks-bg.webp');
	background-size: cover;
	background-repeat: no-repeat;
}

#feedbacks h2 {
	color: #fff;
}

#feedbacks .card-group {
	margin: 40px auto;
}

.feedback-card {
	max-width: 270px;
}

.client-photo {
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	background: gray;
	position: relative;
	left: 0;
	margin: auto;
	top: -40px;
}