:root {
  --yellow: #F49B19;
  --brown: #613431;
}

body {
  font: 1.2rem/1.6 'Montserrat', sans-serif;	
  font-weight: 400;
}

h1, h2 {
	font-size: 2.25rem;
	font-weight: 600;
}

.navbar-brand {
	width: 4rem;
	height: 4rem;
}

#hero {
  background-color: var(--yellow);
  color: var(--brown);
  padding: 6rem 2.25rem;
}

#hero-description {
	max-width: 30rem;
	margin: 1.5rem 0;
}

#tanned-woman {
	margin-top: -54px;
  float: right;
  height: 25rem;
}

@media screen and (max-width: 768px) {
	#tanned-woman {
		display: none;
	}
}

.btn {
	border-radius: 12px;
}